/*h1 {*/
    /*font-family: 'Noto Serif TC', serif;*/
    /*font-weight: 800;*/
/*}*/

/*h2 {*/
    /*font-family: 'Noto Serif TC', serif;*/
    /*font-weight: 400;*/
/*}*/

p {
    line-height: 1.7rem;
}

a {
    color: aqua;
}

/*li {
    font-family: 'Noto Serif TC', serif;
}*/

#map {
    height: 80vh;
    background: #20282e;
}

.town {
    fill: #dddddd;
    stroke: whitesmoke;
    stroke-width: .7;
}

.riverPoly {
    fill: #66FCF1;
    stroke: #66FCF1;
    stroke-width: .7;
    opacity: 0.8;
}

.riverLine {
    /*fill: #01a6ff;*/
    stroke: #01a6ff;
    stroke-width: .7;
    fill-opacity:0;
}

.tolTaxa {
    stroke: #B39DDB;
    stroke-width: 3;
    opacity: 1;
    fill-opacity: 0;
}

.modTaxa {
    stroke: #f9711d;
    stroke-width: 3;
    opacity: 1;
    fill-opacity: 0;
}

.senTaxa {
    stroke: #008837;
    stroke-width: 3;
    opacity: 1;
    fill-opacity: 0;
}

.Taxa {
    opacity: 0;
    fill-opacity: 1;
}


.legend circle {
    fill: none;
    stroke-width: 3;
    stroke: #ffffff;
}

.legend text {
    fill: #ffffff;
    font: 14px sans-serif;
}

.circle-text{
    text-anchor: middle;
}

#slider {
    position: absolute;
    left: 1em;
    top: 10em;
}

#radBtn {
    position: absolute;
    left: 1em;
    top: 1em;
}

#info {
    position: absolute;
    right: 2em;
    bottom: 9em;
}

.hover {
    stroke-width: 4;
    fill: #66FCF1;
}

/* Example of reducing heading font sizes on smaller screens */

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1 {
        font-size: 1.7em;
    }
    
    h2 {
        font-size: 1.2em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    aside {
        height: 80vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 1.8em;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}